/*Exemple de full d'estil, que només té SELECTORS etiqueta*/

/*Sintaxi fulls d'estil:
 * selector{
 * 			regla:valor;
 * 			} 
 
 El selector pot ser: 
 	-*: tot
 	-Una etiqueta
 	-# (id: identificador) #{
								}
 	-. (class: classe) .{
						} 
 */

/* Estil que aplica a tot*/	 
*{
	color:red;
	}
	
/* Estil que aplica a tot el cos del document*/	 
body{
	text-align: center;
	} 
	
/* Estil pel títol h1*/	
h1{
	font-family:Ubuntu;
	font-size: 36px;
	color: #49F392;
	text-shadow: 2px 2px 8px #FF0000;
}

/* Estil pel pàrragraf*/
p{
	color:blue;  
	text-align: justify;
	}

/* Estil pel títol h2*/
h2{
	 color:white;  
	 background-color: #931389;
	 text-shadow: olive -3px -4px 5px;
	}

/* Estil amb selector id (com a atribut d'una etiqueta)*/
#identificador{
	 color:black;
	}

/* Estil amb selector class (com a atribut d'una etiqueta)*/
#exempleclasse{
	 color:yellow;
	}
